body {
  #root > {
    div {
      div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        p {
          padding-right: 1rem;
        }
      }
    }
  }
}